<h3>本当に退会しますか？</h3>
  <p>
    退会すると、会員登録情報が閲覧できなくなります。<br />
    投稿内容は残りますので、消したい場合は削除してから退会をお願いします。<br />
    退会する場合は、「退会する」をクリックしてください。
  </p>

  <%= link_to "退会しない", customers_mypage_path, :class => "btn btn-outline-primary ms-3" %>
  <%= link_to "退会する", customers_withdraw_path, method: :patch, :class => "btn btn-outline-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>