<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'public/customers/side_bar' %>
    </div>
    <div class="col-8 offset-1">
      <%= render 'public/customers/tab' %>
    </div>
  </div>
</div>