<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <%= render 'public/customers/side_bar', customer: @customer %>
    </div>
    <div class="col">
      <%= render 'public/customers/list', customers: @customers %>
    </div>
  </div>
</div>