<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <%= render 'public/customers/side_bar' %>
    </div>
    <div class="col">
      <%= render 'public/customers/tab' %>
    </div>
  </div>
</div>