// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// index(customer)
.flex-item {
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 4px;
}

.flex-item:nth-child(1) {
  width: 80px;
}

.flex-item:nth-child(2) {
  width: 160px;
}

.flex-item:nth-child(3) {
  width: 130px;
}

.flex-item:nth-child(4) {
  width: 130px;
}

.flex-item:nth-child(5) {
  width: 140px;
}

.flex-item:nth-child(6) {
  width: 130px;
}