// Place all the styles related to the public/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// review/show(customer)

.review-show-top {
  margin-top: 10px;
}

.review-show-left {
  // width: 120px;
  margin-top: 10px;
}

.review-show-right {

  margin-top: 10px;
  margin-left: 0%;
}

.review-show-rights {
  margin-top: 10px;
}

.review-show-body-right {
  margin-top: 10px;
  margin-left: 30px;
}

.review-show-bottom {
  margin-top: 10px;
}

.review-comment {
  margin-top: 10px;
}

review-card {
  width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}