// Place all the styles related to the public/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// review/show(customer)
.review-show-left {
  width: 120px;
}

.review-show-right {
  width: 1000px;
  margin-left: 10px;
}

