<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-3">
      <%= render 'admin/customers/side_bar', customer: @customer,reviews: @reviews %>
    </div>
    <div class="col-9">
      <%= render 'admin/customers/tab', spoiler_review: @spoiler_review,not_spoier_review: @not_spoiler_review, draft_review: @draft_review %>
    </div>
  </div>
</div>