<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="card border-info shadow p-3 mb-5 bg-body-tertiary rounded mx-auto" style="width: 700px;">
        <h3>投稿編集</h3>
        <%= render 'public/reviews/form', review: @review, tag_list: @tag_list %>
      </div>
    </div>
  </div>
</div>