<div class="container mt-5">
  <h2>タグが「<%=@tag.name%>」の投稿一覧</h2>
  <%= render 'public/reviews/tag_list', tag_list: @tag_list %>

  <%= render 'public/customers/tab', spoiler_not_review: @spoiler_not_review,spoiler_review: @spoiler_review %>
</div>