$primary: #0073a8;
$secondary: #d4d9df;
$success: #2cb4ad; //ナイルブルー
$danger: #b33e5c; //ワインレッド
$warning: #ffffb7;
$info: #c1c1ff;
$light: #a22041; //濃い紅
$dark: #a8a8ff;

@import '~bootstrap/scss/bootstrap';

.navbar-collapse {
  justify-content: flex-end;
  margin: 0 30px
}

.header-search {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 3px;
}

.flex-row {
  display: flex;
  gap: 4px;
}

.flex-row+.flex-row {
  margin-top: 4px;
}

// index(customer)
.flex-item {
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 4px;
}

.flex-item:nth-child(1) {
  width: 80px;
}

.flex-item:nth-child(2) {
  width: 160px;
}

.flex-item:nth-child(3) {
  width: 200px;
}

.flex-item:nth-child(4) {
  width: 130px;
}

.flex-item:nth-child(5) {
  width: 140px;
}

.flex-item:nth-child(6) {
  width: 130px;
}

// side_bar(customer・admin)
.flex-side_bar {
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 4px;
}

.flex-side_bar:nth-child(2) {

  width: 170px;
}


// comment(admin)
.flex-comment {
  height: 80px;
  width: 170px;
}

.favolit-btn {
  font-size: 20px
}

// review/show(customer)
.review-show-left {
  width: 120px;
}

.review-show-right {
  width: 1000px;
  margin-left: 10px;
}

// comment(customer)

.flex-comment:nth-child(1) {
  width: 100px;
}

.flex-comment:nth-child(2) {
  width: 400px;
}
