/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$primary: #0073a8;
$secondary: #a22041;
$success: #2cb4ad; //ナイルブルー
$danger: #a22041;
$warning: #a8bf93;
$info: #fde8d0;
$light: #ffffe0; //lightyellow
$dark: #a8a8ff;

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
}

.btn-outline-primary:hover, .btn-outline-primary:focus,
.btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary:active:hover, .btn-outline-primary:active.focus,
.btn-outline-primary.active, .btn-outline-primary.active:focus, .btn-outline-primary.active:hover, .btn-outline-primary.active.focus,
.open > .dropdown-toggle.btn-outline-primary,
.open > .dropdown-toggle.btn-outline-primary:hover,
.open > .dropdown-toggle.btn-outline-primary:focus,
.open > .dropdown-toggle.btn-outline-primary.focus,
.btn-outline-primary.disabled:hover, .btn-outline-primary[disabled]:hover, fieldset[disabled] .btn-outline-primary:hover,
.btn-outline-primary.disabled:focus, .btn-outline-primary[disabled]:focus, fieldset[disabled] .btn-outline-primary:focus,
.btn-outline-primary.disabled.focus, .btn-outline-primary[disabled].focus, fieldset[disabled] .btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primarys.dropdown-toggle {
    background: $primary; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: black; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border-color: $primary;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #0073a8;
}

.btn-outline-secondary {
  color: $secondary;
  border-color: $secondary;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus,
.btn-outline-secondary:active, .btn-outline-secondary:active:focus, .btn-outline-secondary:active:hover, .btn-outline-secondary:active.focus,
.btn-outline-secondary.active, .btn-outline-secondary.active:focus, .btn-outline-secondary.active:hover, .btn-outline-secondary.active.focus,
.open > .dropdown-toggle.btn-outline-secondary,
.open > .dropdown-toggle.btn-outline-secondary:hover,
.open > .dropdown-toggle.btn-outline-secondary:focus,
.open > .dropdown-toggle.btn-outline-secondary.focus,
.btn-outline-secondary.disabled:hover, .btn-outline-secondary[disabled]:hover, fieldset[disabled] .btn-outline-secondary:hover,
.btn-outline-secondary.disabled:focus, .btn-outline-secondary[disabled]:focus, fieldset[disabled] .btn-outline-secondary:focus,
.btn-outline-secondary.disabled.focus, .btn-outline-secondary[disabled].focus, fieldset[disabled] .btn-outline-secondary.focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    background: $secondary; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: black; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border-color: $secondary;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #a22041;
}

.btn-outline-danger {
  color: $danger;
  border-color: $danger;
}

.btn-outline-success {
  color: $success;
  border-color: $success;
}

.btn-outline-success:hover, .btn-outline-success:focus,
.btn-outline-success:active, .btn-outline-success:active:focus, .btn-outline-success:active:hover, .btn-outline-success:active.focus,
.btn-outline-success.active, .btn-outline-success.active:focus, .btn-outline-success.active:hover, .btn-outline-success.active.focus,
.open > .dropdown-toggle.btn-outline-success,
.open > .dropdown-toggle.btn-outline-success:hover,
.open > .dropdown-toggle.btn-outline-success:focus,
.open > .dropdown-toggle.btn-outline-success.focus,
.btn-outline-success.disabled:hover, .btn-outline-success[disabled]:hover, fieldset[disabled] .btn-outline-success:hover,
.btn-outline-success.disabled:focus, .btn-outline-success[disabled]:focus, fieldset[disabled] .btn-outline-success:focus,
.btn-outline-success.disabled.focus, .btn-outline-success[disabled].focus, fieldset[disabled] .btn-outline-success.focus,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
    background: $success; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: black; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border-color: $success;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #d4d9df;
}

.btn-outline-danger {
  color: $danger;
  border-color: $danger;
}

.btn-outline-danger:hover, .btn-outline-danger:focus,
.btn-outline-danger:active, .btn-outline-danger:active:focus, .btn-outline-danger:active:hover, .btn-outline-danger:active.focus,
.btn-outline-danger.active, .btn-outline-danger.active:focus, .btn-outline-danger.active:hover, .btn-outline-danger.active.focus,
.open > .dropdown-toggle.btn-outline-danger,
.open > .dropdown-toggle.btn-outline-danger:hover,
.open > .dropdown-toggle.btn-outline-danger:focus,
.open > .dropdown-toggle.btn-outline-danger.focus,
.btn-outline-danger.disabled:hover, .btn-outline-danger[disabled]:hover, fieldset[disabled] .btn-outline-danger:hover,
.btn-outline-danger.disabled:focus, .btn-outline-danger[disabled]:focus, fieldset[disabled] .btn-outline-danger:focus,
.btn-outline-danger.disabled.focus, .btn-outline-danger[disabled].focus, fieldset[disabled] .btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled):active{
    background: $danger; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: black; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border-color: $danger;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #b33e5c;
}

.btn-outline-warning {
  color: $warning;
  border-color: $warning;
}

.btn-outline-info {
  color: $info;
  border-color: $info;
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-info:hover, .btn-info,
.btn-outline-info:active, .btn-outline-info:active:focus, .btn-outline-info:active:hover, .btn-outline-info:active.focus,
.btn-outline-info.active, .btn-outline-info.active:focus, .btn-outline-info.active:hover, .btn-outline-info.active.focus,
.open > .dropdown-toggle.btn-outline-info,
.open > .dropdown-toggle.btn-outline-info:hover,
.open > .dropdown-toggle.btn-outline-info:focus,
.open > .dropdown-toggle.btn-outline-info.focus,
.btn-outline-info.disabled:hover, .btn-outline-info[disabled]:hover, fieldset[disabled] .btn-outline-info:hover,
.btn-outline-info.disabled:focus, .btn-outline-info[disabled]:focus, fieldset[disabled] .btn-outline-info:focus,
.btn-outline-info.disabled.focus, .btn-outline-info[disabled].focus, fieldset[disabled] .btn-outline-info.focus,
.btn-outline-info:not(:disabled):not(.disabled):active{
    background: $info; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: black; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border-color: $info;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #fde8d0;
}

.btn-outline-light {
  color: $light;
  border-color: $light;
}

.btn-outline-dark {
  color: $dark;
  border-color: $dark;
}

body {
  background-color: #fde8d0;
}

.navbar-collapse {
  justify-content: flex-end;
  margin: 0 30px
}

.header {
  background-color: #a22041;
  color: $info;
}

.link {
  text-decoration: none;
  color: $info;
}

.dropdown-item {
  text-decoration: none;
  color: #a22041;
}

.header-search {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 3px;
}

.flex-row {
  display: flex;
  gap: 4px;
}

.flex-row+.flex-row {
  margin-top: 4px;
}


// side_bar(customer・admin)
.flex-side_bar {
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 4px;
}

.flex-side_bar:nth-child(2) {
  width: 170px;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 1px black;
  background-color: #a22041;
  color: $info;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color: black;
}

.nav-tabs .nav-link {
  border: solid 1px black;
  background-color: #fde8d0;
  color: black;
}

.tab-frame {
  border: solid 1px black;
  background-color: #a22041;
}

.draft-text {
  color: $info;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  background-color: transparent;
}

/* 表示しているページ番号のデザイン */
.page-item.active .page-link {
  background-color: #a22041;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
  background-color: #a22041;
  color: #fde8d0;
}

.favolit-btn {
  font-size: 20px
}

.swiper {
  width: 600px;
  height: 400px;
}

:root {
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
}

.input-card {
  border: 1px solid #a22041;
}